spring:
  datasource:
    url: jdbc:mysql://mysql:3306/goodfood_restaurantdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  config:
    import: configserver:http://config-server:8888

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://auth-server:9000/oauth2/jwks

  kafka:
    bootstrap-servers: kafka:9092