apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: goodfood
spec:
  selector: { app: gateway }
  ports:
    - protocol: TCP
      port: 8090
      targetPort: 8090
  type: LoadBalancer
