server:
  port: 8888

spring:
  application:
    name: goodfood-config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Shubh-Namdev/goodfood-config-repo
          default-label: main
          clone-on-start: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
      service-type: config
