apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: goodfood
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: goodfood-order-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: k8s
            - name: DB_PASSWORD
              value:
          
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: goodfood
spec:
  selector:
    app: order-service
  ports:
    - port: 8082
      targetPort: 8082
  type: ClusterIP
