server:
  port: 9000

logging:
  level:
    org.springframework.security: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"

# Put plain client secret here (it will be encoded at startup)
client:
  id: "gateway-client"
  secret: "gateway-secret"