apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-server
  namespace: goodfood
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-server
  template:
    metadata:
      labels:
        app: config-server
    spec:
      containers:
        - name: config-server
          image: 654129064103.dkr.ecr.ap-south-1.amazonaws.com/goodfood-config-server:latest
          ports:
            - containerPort: 8888
          # env:
          #   - name: SPRING_PROFILES_ACTIVE
          #     value: aws
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8888
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8888
            initialDelaySeconds: 30
            periodSeconds: 15
